<div class = "extra"></div>
  <section class="example-button-row" layout-align = "start center"  flex>

  <!--<button mat-stroked-button>Basic</button>-->
  <a mat-stroked-button class="income" routerLink="/income">Income</a>
  <button mat-stroked-button class="managment" routerLink="/managment">Money Management</button>
  <button mat-stroked-button class="blog" routerLink="/blog">Add to our Blog!</button>
  <!--<button mat-stroked-button disabled>Disabled</button>-->
  <a mat-stroked-button href="https://www.open-money.co.uk" target="_blank">Resources</a>

  </section>

<br>
<br>
<mat-card>
  <mat-card-header><b>About</b></mat-card-header>
  <mat-card-content>
   This website acts as a financial advisor for users. Users can click on Income and it would direct them to a page that the user can find their income tax.
      <br>
      <b>Income:</b>
      <br>
      This page would calculate the income tax for the users. The user would first pick out if they are single or married. With this the user would get an extra allowance of 907 GBP.
      The user is also able to change the currency from GBP to USD using a small switch. This is a direct exchange with a value of 0.8 GBP to 1 USD. The user can also enter their
      yeary income using two sliders where one of the sliders is in single 1k value per point, and the second increases in the 10k value per point. The amount that the user earns is then calculates as
      the taxable income and this is then calculated for the user and would appear at the bottom in a whold yearly amount and in a monthly amount. The user can also see the income range they are in in this section.

      <br>
      <b>Money Management:</b>
      <br>
      This page contains advice for user on money saving and money managment.

      <br>
      <b>Add to Our Blog: </b>
      <br>
      This page allows a user to enter a title and the contents of their blog. This would then be saved to the server and viewed every time anyone acces the website.
      The user can also delete blogs they have previously added.
      <br>
      <b>Resources: </b>
      <br>
      This page links to an external website that would lead to more information about mangagement and taxation and how to reduce this.
     </mat-card-content>
</mat-card>



<mat-card class= "details">
  <mat-card-content > Application by: <b>Fatima Ghanduri</b> ---- <b>1602571</b> ---- Mobile: <b>07473931385</b> </mat-card-content>
</mat-card>
