 <br>

 <mat-card-title font size="+5" > How to Manage Your Money</mat-card-title>

<!-- <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"> -->
<br>

<mat-card class = "task4">

  <mat-card-content >
    <b>Step 1: </b> Take inventory of your finances
    Mastering your money is about more than making the math work out. It’s about adjusting your mindset, too. As you begin to take charge of your finances, you’ll change your philosophy as much as you change your day-to-day habits.
    <br>
    Take a mental inventory of your current position.
   <ul>
     <li>  <b>Are you consistently overspending? </b></li>
     <li> <b> Do you have enough saved up to survive an unexpected expense?</b></li>
    <li> <b> Do you live paycheck to paycheck?</b></li>
    <li> <b> Do you feel overwhelmed by financial jargon?</b></li>
  </ul>
   Be honest with yourself about where your weaknesses lie. You might’ve made some missteps in the past, but you don’t have to continue on that path. Here’s how to manage your money now, while preparing for the future.

  </mat-card-content>

</mat-card>



<br>
<mat-card class = "task1">


  <mat-card-content >
    <b> Step 2:  </b>Build a money management blueprint
    How do you put your savings plan in action?

  Just like gaining physical muscle, you have to start with the right equipment to gain financial muscle.
<br>
  Use the steps below to build a blueprint that works for your finances.
    <br>
   <ul>
  <li>  <b> Start with a budget: </b> Pick a budgeting system that you’ll stick with. We like the 50/30/20 budget plan — which allocates money for wants, needs and savings and debt repayment — but there are plenty of other budgeting options to choose from. </li>
  <li> <b> Track your spending: </b>bThe days of balancing a checkbook are gone for most people, but there is still value in accounting for each and every purchase and expense. </li>
  <li>  <b>Find ways to save: </b> Once you see where your money is going, you can more easily identify potential savings.</li>
  <li> <b>Use designated accounts for spending and savings:</b> Keep money designated for bills and budgeted expenses separate from your emergency fund. This will reduce the temptation to dip into it for non-emergencies. Saving for a house, vacation or new car? Stash those funds in separate accounts so you can see your progress toward each goal.</li>
 <li>   <b>Make a plan to pay off debt: </b>A strategic approach to debt repayment will help you reach the debt-free finish line faster. We recommend tackling your most expensive debt — the accounts with the highest interest rates — first, while making minimum payments on the rest. Then work your way down through any lower-interest rate debt until it is all paid off. </li>
    </ul>
  </mat-card-content>



</mat-card>

<br>

<mat-card class = "task2">


  <mat-card-content >
    <b> Step 3:  </b>Money mastery goes beyond spending less than you make. A true sign of financial prowess is saving enough to live comfortably in the long term as well as the short term.

    You can achieve this in four steps: save, invest, pay off debt, repeat.
  Just like gaining physical muscle, you have to start with the right equipment to gain financial muscle.
<br>
  Use the steps below to build a blueprint that works for your finances.
  <br>
  <ul>
 <li>  <b> 1. SAVE </b> Start socking away extra money to build an emergency fund. Ideally, you should have three months’ worth of living expenses at your disposal in case the unthinkable happens. If that seems too ambitious, start small. A $500 reserve is a great first goal. </li>
 <li> <b> 2. INVEST </b>Invest your extra money for the future. Set yourself up for retirement by contributing to a 401(k). If your company offers a match, contribute enough to get the maximum.</li>
 <li>  <b>3. PAY OFF DEBT </b> Whether it’s a loan or looming credit card bill, you probably have some debt obligations. Always make at least the minimum monthly payments so you don’t fall behind. If you have extra dollar bills to throw at your bills, pay down the high-interest debt first. </li>
 <li> <b>4. REPEAT </b> Keep building up that emergency fund, investing for retirement and knocking down your debt.</li>
   </ul>

   <br>
  </mat-card-content>


</mat-card>
